/* . . . Root . . . */

:root {
    --color-primary: #e60023;
    --color-FF: #ffffff;
    --color-F7: #f7f7f7;
    --color-EF: #efefef;
    --color-E7: #e7e7e7;
    --color-DF: #dfdfdf;
    --color-D7: #d7d7d7;
    --color-DE: #dedede;
    --color-76: #767676;
    --color-6E: #6e6e6e;
    --color-TX: #111111;
    --color-00: #000000;

    --space-025: .25em;
    --space-050: .5em;
    --space-075: .75em;
    --space-100: 1em;
    --space-150: 1.5em;
    --space-200: 2em;
    --space-300: 3em;
    
    --size-1: 1em;
    --size-2: 1.5em;
    --size-3: 2em;
    --size-4: 2.5em;

    --round: 3em;
    --tumix: .8em;
}

/* . . . Reset Standard Style . . . */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, sans-serif;
    font-size: 18px;
    color: var(--color-TX);
}

input {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

/* . . . HTMLElement Styles . . . */

body {
    background-color: var(--color-F7);
}

main {
    height: 100vh;
}

footer {
    font-weight: 500;
    a:hover {
        text-decoration: underline;
    }
}

main > header, footer {
    padding: 1em;
}

svg.icon {
    width: var(--size-2);
    height: var(--size-2);
    color: var(--color-76);
    fill: var(--color-76);
}

.logo {
    gap: var(--space-050);
    a {
        padding: var(--space-025);
        background-color: var(--color-primary);
        border-radius: var(--round);
    }
    svg {
        width: var(--size-1);
        height: var(--size-1);
        fill: var(--color-FF);
    }
    h1 {
        font-size: 1.5em;
        font-weight: 700;
        color: var(--color-primary);
    }
}

/* . . . Reusable Styles . . . */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.fx-center {
    justify-content: center;
    align-items: center;
}

.fx-between {
    justify-content: space-between;
    align-items: space-between;
}

.fx-center_between {
    justify-content: center;
    align-items: space-between;
}

.fx-between_center {
    justify-content: space-between;
    align-items: center;
}

/* . . . Class Styles . . . */

.search-bar {
    display: flex;
    width: 50%;
    margin-inline: var(--space-100);
    label {
        width: 100%;
        border-radius: var(--round);
        background-color: var(--color-EF);
        padding: .5em 1em;
        &:hover, &:focus-within {
            background-color: var(--color-E7);
        }
    }

    input {
        background-color: transparent;
        color: var(--color-6E);
        margin-left: .4em;
    }
}

.user-bar {
    gap: var(--space-025);
}

.user-bar a{
    display: flex;
    padding: var(--space-050);
    border-radius: var(--round);
    cursor: pointer;
    &:hover {
        background-color: var(--color-EF);
    }
}

.user-bar img {
    border-radius: var(--round);
}

.user-bar img ,
.user-bar svg.icon,
svg.logo {
    width: var(--size-2);
    height: var(--size-2);
}

main > article {
    margin: var(--space-200);
    gap: var(--space-150);
    max-width: 100%;
    height: 100%;
    
    aside {
        min-width: 20%;
        margin-left: var(--space-100);
    }

    nav {
        max-width: max-content;
        gap: var(--space-050);
    }

    a {
        padding: var(--space-050) var(--space-075);
        border-radius: var(--tumix);
        font-weight: 500;
        cursor: default;
        &:hover {
            background-color: var(--color-EF);
        }
    }
}

.rendering-area {
    max-width: 670px;
    width: 60%;
}
